article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --cl-clean: #fff;
  --cl-dark: #000;
  --cl-text: #7d7a77;
  --cl-text-dark: #5B5855;
  --cl-grey-10: #f9f9fa;
  --cl-grey-20: #eeeef1;
  --cl-grey-30: #d7d7db;
  --cl-grey-40: #b2b2b3;
  --cl-grey-50: #737373;
  --cl-grey-60: #4a4a4f;
  --cl-grey-70: #38383d;
  --cl-grey-80: #29292e;
  --cl-grey-90: #0c0c0d;
  --cl-sucess: #13bd00;
  --cl-info: #0a85ff;
  --cl-warning: #d66f00;
  --cl-error: #d60020;
  --cl-primary: #f77274;
  --cl-secondary: #4f2d32;
  --cl-primary-dark: #e85657;
  --cl-secondary-clean: #f4f2f0;
  --fz-uul: 4.5rem;
  --fz-ul: 4rem;
  --fz-hhhl: 3rem;
  --fz-hhl: 2.75rem;
  --fz-hl: 2.25rem;
  --fz-xxl: 2rem;
  --fz-xl: 1.75rem;
  --fz-l: 1.5rem;
  --fz-xxm: 1.25rem;
  --fz-xm: 1.125rem;
  --fz-m: 16;
  --fz-s: 0.875rem;
  --fz-xs: 0.75rem;
  --fz-xxs: 0.625rem;
  --sp-quarter: 0.25rem;
  --sp-six: 0.375rem;
  --sp-half: 0.5rem;
  --sp-twelve: 0.75rem;
  --sp-unit: 1rem;
  --sp-and-half: 1.5rem;
  --sp-double: 2rem;
  --sp-fourty: 2.5rem;
  --sp-triple: 3rem;
  --sp-quad: 4rem;
  --sp-eighty: 5rem;
}

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  background-color: var(--cl-clean);
  height: 100%;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--cl-text);
  font-family: "Montserrat", "Arial", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  background: transparent;
  color: var(--cl-primary);
  text-decoration: none;
  transition: color .2s;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: normal;
  color: var(--cl-text-dark);
  margin-top: 0;
}

.display-title {
  font-size: var(--sp-unit);
  margin-bottom: var(--sp-and-half);
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}

.main > .wrapper {
  padding: 0 1.25rem;
}

.main__footer {
  padding: var(--sp-half) 0;
  border-top: 1px solid var(--cl-secondary-clean);
}

.c-logo {
  display: table;
  margin: 0 auto;
}

.header {
  padding: var(--sp-twelve) 0;
  border-bottom: 1px solid var(--cl-secondary-clean);
  margin-bottom: 1.875rem;
}

.c-cover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 1.875rem;
}

.c-cover__link {
  width: 40%;
  overflow: hidden;
  border-radius: 0.1875rem;
}

.c-btn,
.button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  line-height: inherit;
  text-decoration: none;
  font-weight: normal;
  color: var(--cl-clean);
  height: 2.875rem;
  padding: var(--sp-half) var(--sp-unit);
  border: 1px solid transparent;
  background-color: var(--cl-primary);
  border-radius: 0.1875rem;
  box-shadow: 0 4px 0 var(--cl-primary-dark);
}

.c-btn:hover, .c-btn:active, .c-btn:focus,
.button:hover,
.button:active,
.button:focus,
button:hover,
button:active,
button:focus,
[type='button']:hover,
[type='button']:active,
[type='button']:focus,
[type='reset']:hover,
[type='reset']:active,
[type='reset']:focus,
[type='submit']:hover,
[type='submit']:active,
[type='submit']:focus {
  text-decoration: none;
  color: var(--cl-clean);
  border-color: var(--cl-primary-dark);
  background-color: var(--cl-primary-dark);
}

.c-btn--clean {
  color: var(--cl-primary);
  border-color: var(--cl-secondary-clean);
  background-color: transparent;
  box-shadow: 0 4px 0 var(--cl-secondary-clean);
}

.c-btn--clean:hover, .c-btn--clean:active, .c-btn--clean:focus {
  color: var(--cl-primary);
  border-color: var(--cl-secondary-clean);
  background-color: transparent;
}

.input-radio-item {
  margin-bottom: var(--sp-and-half);
}

.input-radio-item__input {
  display: none;
}

.input-radio-item__label {
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: var(--fz-s);
  font-weight: 300;
}

.input-radio-item__label::before {
  content: '';
  box-sizing: content-box;
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  padding: var(--sp-quarter);
  border: 1px solid #e4e1df;
  margin-right: var(--sp-unit);
  background-color: var(--clean);
  background-clip: content-box;
  border-radius: 50%;
}

.input-radio-item input:checked + label::before {
  background-color: var(--cl-primary);
}

.c-form-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.c-form-actions .c-btn {
  font-size: var(--fz-s);
  width: 50%;
}

.c-form-actions .c-btn:not(:last-child) {
  margin-right: var(--sp-half);
}

.c-coupon {
  margin-bottom: 1.875rem;
}

.c-coupon .u-price {
  text-align: right;
  margin-left: auto;
}

.c-resume {
  margin-bottom: 1.25rem;
}

.c-resume__table {
  width: 100%;
  font-size: var(--fz-s);
}

.c-resume__th {
  text-align: left;
  font-weight: 300;
  padding: var(--sp-twelve) 0;
}

.c-resume__td {
  text-align: right;
  color: var(--cl-text-dark);
}

.c-modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 99;
}

.c-modal.is-active {
  display: -ms-flexbox;
  display: flex;
}

.c-modal, .c-modal__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.c-modal, .c-modal__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 50;
}

.c-modal__overlay {
  position: absolute;
}

.c-modal__content {
  -ms-flex-flow: column;
      flex-flow: column;
  text-align: center;
  width: 75%;
  padding: 1.25rem;
  background: var(--cl-clean);
  border-radius: 0.3125rem;
}

.c-modal__icon {
  margin-bottom: var(--sp-and-half);
}

.c-modal--sucess .c-modal__icon {
  fill: var(--cl-sucess);
}

.c-modal--cancel .c-modal__icon {
  fill: var(--cl-warning);
}

.c-modal__title {
  color: var(--cl-text-dark);
  font-weight: normal;
  margin-bottom: var(--sp-unit);
}

.c-modal__msg {
  font-size: var(--fz-s);
  font-style: normal;
  font-weight: 300;
}

.u-ttu {
  text-transform: uppercase;
}

.u-dn {
  display: none;
}

.u-db {
  display: block;
}

.u-dib {
  display: inline-block;
}

.u-fwb {
  font-weight: bold;
}

.u-fllf {
  float: left;
}

.u-flrg {
  float: right;
}

.u-radius-circle {
  border-radius: 50%;
}

.u-no-link {
  cursor: not-allowed;
  pointer-events: none;
}

.u-mobile-scroll-horizontal {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.u-clear-list {
  list-style: none;
  padding: 0;
}

.u-horizontal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.u-list-horizontal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.u-transition-basic {
  transition: all 0.1s ease-in-out;
}

.u-flexbox-centering {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.u-cl-white {
  color: var(--cl-clean);
}

.u-cl-black {
  color: var(--cl-black);
}

.u-cl-text {
  color: var(--cl-text);
}

.u-cl-text-dark {
  color: var(--cl-text-dark);
}

.u-cl-grey-10 {
  color: var(--cl-grey-10);
}

.u-cl-grey-20 {
  color: var(--cl-grey-20);
}

.u-cl-grey-30 {
  color: var(--cl-grey-30);
}

.u-cl-grey-40 {
  color: var(--cl-grey-40);
}

.u-cl-grey-50 {
  color: var(--cl-grey-50);
}

.u-cl-grey-60 {
  color: var(--cl-grey-60);
}

.u-cl-grey-70 {
  color: var(--cl-grey-70);
}

.u-cl-grey-80 {
  color: var(--cl-grey-80);
}

.u-cl-grey-90 {
  color: var(--cl-grey-90);
}

.u-cl-sucess {
  color: var(--cl-sucess);
}

.u-cl-info {
  color: var(--cl-info);
}

.u-cl-warning {
  color: var(--cl-warning);
}

.u-cl-error {
  color: var(--cl-error);
}

.u-cl-primary {
  color: var(--cl-primary);
}

.u-cl-primary-dark {
  color: var(--cl-primary-dark);
}

.u-cl-secondary {
  color: var(--cl-secondary);
}

.u-bgc-white {
  background-color: var(--cl-clean);
}

.u-bgc-black {
  background-color: var(--cl-black);
}

.u-bgc-text {
  background-color: var(--cl-text);
}

.u-bgc-text-dark {
  background-color: var(--cl-text-dark);
}

.u-bgc-grey-10 {
  background-color: var(--cl-grey-10);
}

.u-bgc-grey-20 {
  background-color: var(--cl-grey-20);
}

.u-bgc-grey-30 {
  background-color: var(--cl-grey-30);
}

.u-bgc-grey-40 {
  background-color: var(--cl-grey-40);
}

.u-bgc-grey-50 {
  background-color: var(--cl-grey-50);
}

.u-bgc-grey-60 {
  background-color: var(--cl-grey-60);
}

.u-bgc-grey-70 {
  background-color: var(--cl-grey-70);
}

.u-bgc-grey-80 {
  background-color: var(--cl-grey-80);
}

.u-bgc-grey-90 {
  background-color: var(--cl-grey-90);
}

.u-bgc-sucess {
  background-color: var(--cl-sucess);
}

.u-bgc-info {
  background-color: var(--cl-info);
}

.u-bgc-warning {
  background-color: var(--cl-warning);
}

.u-bgc-error {
  background-color: var(--cl-error);
}

.u-bgc-primary {
  background-color: var(--cl-primary);
}

.u-bgc-primary-dark {
  background-color: var(--cl-primary-dark);
}

.u-bgc-secondary {
  background-color: var(--cl-secondary);
}

@media print {
  *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
