

.c-btn,
.button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  line-height: inherit;
  text-decoration: none;
  font-weight: normal;
  color: var(--cl-clean);
  height: em(46px);
  padding: var(--sp-half) var(--sp-unit);
  border: 1px solid $t;
  background-color: var(--cl-primary);
  border-radius: $border-radius-default;
  box-shadow: 0 4px 0 var(--cl-primary-dark);

  @include hover {
    text-decoration: none;
    color: var(--cl-clean);
    border-color: var(--cl-primary-dark);
    background-color: var(--cl-primary-dark);
  }
}

.c-btn--clean {
  color: var(--cl-primary);
  border-color: var(--cl-secondary-clean);
  background-color: $t;
  box-shadow: 0 4px 0 var(--cl-secondary-clean);

  @include hover {
    color: var(--cl-primary);
    border-color: var(--cl-secondary-clean);
    background-color: $t;
  }
}