

// input radio
.input-radio-item {
  margin-bottom: var(--sp-and-half);

  &__input { display: $n; }

  &__label {
    cursor: pointer;
    @include horizontal;
    font-size: var(--fz-s);
    font-weight: 300;

    &::before {
      content: '';
      box-sizing: content-box;
      display: block;
      @include size( em(10px) );
      padding: var(--sp-quarter);
      border: 1px solid #e4e1df;
      margin-right: var(--sp-unit);
      background-color: var(--clean);
      background-clip: content-box;
      border-radius: $border-radius-circle;
    }
  }

  // input:checked + label {
  //   @include css4 {
  //     background-color: var(--cl-clean);
  //   }
  // }
  input:checked + label::before { background-color: var(--cl-primary); }
}