

.c-logo {
  display: table;
  margin: 0 auto;
}

.header {
  padding: var(--sp-twelve) 0;
  border-bottom: 1px solid var(--cl-secondary-clean);
  margin-bottom: em(30px);
}

.c-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: em(30px);

  &__link {
    width: 40%;
    overflow: hidden;
    border-radius: $border-radius-default;
  }
}