// use css vars
// https://codepen.io/vank0/pen/kkGvAb
// use mixin and functions .scss
//$css4: true;
//$compatibility: true;
//Here we transfer the variables from the map to the :root element
@if($css4) {
  :root {
    @each $variable, $value in $vars-project {
      #{$variable}: $value;
    }
  }
}

@viewport { width: device-width; }

html {
  background-color: var(--cl-clean);
  height: 100%;
}

* {
  box-sizing: border-box;

  &:before,
  &:after { box-sizing: inherit; }
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--cl-text);
  font-family: $font-family-default;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  background: $t;
  color: var(--cl-primary);
  text-decoration: none;
  transition: color .2s;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
  font-weight: normal;
  color: var(--cl-text-dark);
  margin-top: 0;
}

.display-title {
  font-size: var(--sp-unit);
  margin-bottom: var(--sp-and-half);
}
