///*----------------------------------*\
//  #UTILITIES
//\*----------------------------------*/

.u-ttu { text-transform: uppercase; }
.u-dn { display: none; }
.u-db { display: block; }
.u-dib { display: inline-block; }
.u-fwb { font-weight: bold; }
.u-fllf { float: left; }
.u-flrg { float: right; }

.u-radius-circle { border-radius: $border-radius-circle; }
.u-no-link { @include no-link; }
.u-mobile-scroll-horizontal { @include mobile-scroll-horizontal; }

.u-clear-list { @include clear-list; }
.u-horizontal { @include horizontal; }
.u-list-horizontal { @include list-horizontal; }
.u-transition-basic { @include transition(all $duration-quickly ease-in-out); }
.u-flexbox-centering { @include flexbox-centering; }

///*----------------------------------*\
//  #UTILITIES - COLORS
//\*----------------------------------*/


// prop - color
.u-cl-white { color: var(--cl-clean); }
.u-cl-black { color: var(--cl-black); }
.u-cl-text { color: var(--cl-text); }
.u-cl-text-dark { color: var(--cl-text-dark); }

.u-cl-grey-10 { color: var(--cl-grey-10); }
.u-cl-grey-20 { color: var(--cl-grey-20); }
.u-cl-grey-30 { color: var(--cl-grey-30); }
.u-cl-grey-40 { color: var(--cl-grey-40); }
.u-cl-grey-50 { color: var(--cl-grey-50); }
.u-cl-grey-60 { color: var(--cl-grey-60); }
.u-cl-grey-70 { color: var(--cl-grey-70); }
.u-cl-grey-80 { color: var(--cl-grey-80); }
.u-cl-grey-90 { color: var(--cl-grey-90); }

.u-cl-sucess { color: var(--cl-sucess); }
.u-cl-info { color: var(--cl-info); }
.u-cl-warning { color: var(--cl-warning); }
.u-cl-error { color: var(--cl-error); }

.u-cl-primary { color: var(--cl-primary); }
.u-cl-primary-dark { color: var(--cl-primary-dark); }
.u-cl-secondary { color: var(--cl-secondary); }


//
// prop - background-color
.u-bgc-white { background-color: var(--cl-clean); }
.u-bgc-black { background-color: var(--cl-black); }
.u-bgc-text { background-color: var(--cl-text); }
.u-bgc-text-dark { background-color: var(--cl-text-dark); }

.u-bgc-grey-10 { background-color: var(--cl-grey-10); }
.u-bgc-grey-20 { background-color: var(--cl-grey-20); }
.u-bgc-grey-30 { background-color: var(--cl-grey-30); }
.u-bgc-grey-40 { background-color: var(--cl-grey-40); }
.u-bgc-grey-50 { background-color: var(--cl-grey-50); }
.u-bgc-grey-60 { background-color: var(--cl-grey-60); }
.u-bgc-grey-70 { background-color: var(--cl-grey-70); }
.u-bgc-grey-80 { background-color: var(--cl-grey-80); }
.u-bgc-grey-90 { background-color: var(--cl-grey-90); }

.u-bgc-sucess { background-color: var(--cl-sucess); }
.u-bgc-info { background-color: var(--cl-info); }
.u-bgc-warning { background-color: var(--cl-warning); }
.u-bgc-error { background-color: var(--cl-error); }

.u-bgc-primary { background-color: var(--cl-primary); }
.u-bgc-primary-dark { background-color: var(--cl-primary-dark); }
.u-bgc-secondary { background-color: var(--cl-secondary); }
