

.c-modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 99;

  &.is-active { display: flex; }
  
  &, 
  &__overlay {
    @include size(100%);
    top: 0;
    left: 0;
  }

  &, 
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }

  &__overlay {
    position: absolute;
  }

  &__content {
    flex-flow: column;
    text-align: center;
    width: 75%;
    padding: em(20px);
    background: var(--cl-clean);
    border-radius: em(5px);
  }

  &__icon {
    margin-bottom: var(--sp-and-half);

    .c-modal--sucess & { fill: var(--cl-sucess); }
    .c-modal--cancel & { fill: var(--cl-warning); }
  }

  &__title {
    color: var(--cl-text-dark);
    font-weight: normal;
    margin-bottom: var(--sp-unit);
  }

  &__msg {
    font-size: var(--fz-s);
    font-style: normal;
    font-weight: 300;
  }
}