

.c-resume {
  margin-bottom: em(20px);

  &__table {
    width: 100%;
    font-size: var(--fz-s);
  }

  &__th {
    text-align: left;
    font-weight: 300;
    padding: var(--sp-twelve) 0;
  }

  &__td {
    text-align: right;
    color: var(--cl-text-dark);
  }
}