// Functions

// Unit Conversion

// strip-unit($num)
//
// Strip units from values.
//
// $num       - Value to be stripped.
// @returns   - number
// @source    - http://hugogiraudel.com/2013/08/12/sass-functions

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// em()
//
//  Convert pixel values to ems.
//
// $target    - Value to convert to ems.
// $context   - The context the conversion is based on. Defaults to `$base-font-size`
// @requires  - `$base-font-size` / `@strip-units`
// @returns   - number
// @source    - http://www.pjmccormick.com/sweet-sass-function-convert-px-em

@function em($target, $context: $base-font-size) {
  @if not unitless($target) {
    $target: strip-units($target);
  }
  @if not unitless($context) {
    $context: strip-units($context);
  }
  @if $target == 0 { @return 0 }
  @return $target / $context + 0em;
}
// rem()
//
// Convert pixel values to rems.
//
// $target    - Value to convert to ems.
// $context   - The context the conversion is based on. Defaults to `$base-font-size`
// @requires  - `$base-font-size` / `@strip-units`
// @returns   - number
// @source    - http://www.pjmccormick.com/sweet-sass-function-convert-px-em

@function rem($target, $context: $base-font-size) {
  @if not unitless($target) {
    $target: strip-units($target);
  }
  @if not unitless($context) {
    $context: strip-units($context);
  }
  @if $target == 0 { @return 0 }
  @return $target / $context + 0rem;
}

// px()
//
// Convery em values to pixels.
//
// $target    - Value to convert to ems.
// $context   - The context the conversion is based on. Defaults to `$base-font-size`
// @requires  - `$base-font-size` / `@strip-units`
// @returns   - number
// @source    - http://www.pjmccormick.com/sweet-sass-function-convert-px-em

@function px($target, $context: $base-font-size) {
  @if not unitless($target) {
    $pxval: strip-units($target);
  }
  @if not unitless($context) {
    $base: strip-units($context);
  }
  @if $target == 0 { @return 0 }
  @return $target * $context + 0px;
}

// Map Functions
//
// Styleguide 11.2

// map-has-nested-keys($map)
//
// $map       - Parent map to get values from.
// @returns   - boolean
// @source    - http://www.sitepoint.com/better-solution-managing-z-index-sass/

@function map-has-nested-keys($map, $keys...) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
      @return false;
    }
    $map: map-get($map, $key);
  } @return true;
}

// map-deep-get($map)
//
// $map       - Parent map to get values from.
// @returns   - `$map`
// @source    - http://www.sitepoint.com/better-solution-managing-z-index-sass/

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  } @return $map;
}

// z()
//
// @requires  - `@map-has-nested-keys` / `@map-deep-get` / `$zindex`
// @returns   - `map-deep-get($zindex, $indexes...)`
// @source    - http://www.sitepoint.com/extra-map-functions-sass/

@function z($indexes...) {
  @if not map-has-nested-keys($zindex, $indexes...) {
    @warn 'No index found for `#{inspect($indexes...)}` in $zindex map. Property omitted.';
  } @return map-deep-get($zindex, $indexes...);
}

// bp()
//
// @requires  - `@map-has-nested-keys` / `@map-deep-get` / `$breakpoints`
// @returns   - `map-deep-get($breakpoints, $point...)`
// @source    - http://www.sitepoint.com/extra-map-functions-sass/

@function bp($point...) {
  @if not map-has-nested-keys($breakpoints, $point...) {
    @warn 'No breakpoint found for `#{inspect($point...)}` in $breakpoints map. Property omitted.';
  } @return map-deep-get($breakpoints, $point...);
}




// use css vars
// https://codepen.io/vank0/pen/kkGvAb
//this is the "magic" function
@function var($variable) {
  @if($css4) {
    @return unquote('var(' + $variable + ')');
  } @else {
    @return map-get($vars-project, $variable);
  }
}

// Color Scheme 0.0.2
// Scheme from colors for create classes with properties css, functions for facilitie use in the project like palette, tint, shade, etc
// From DEV Undergrond
// @authors: Jonas Sousa, Allef Silva

/// use-map - Extract and use a value in the map variable
/// @author Jonas Sousa, Allef Silva
/// @group Tools
/// @param {Map} $map - Variable with maps for use
/// @param {String} $value - Value map
/// @example scss - basic usage
///   .foo {
///     color: use-map($cls-main, primary);
///   }
///
/// @output Output from the example
///   .foo {
///     color: #121212;
///   }
@function use-map($map, $value){
  @if map-has-key($map, $value) {
    @return map-get($map, $value);
  }

  @warn "Unfortunately, no value could be retrieved from `#{$value}`. "
        + "Please make sure it is defined in `#{$map}` map.";
  @return null;
}

// Returns unitless number
@function remove-unit($number) {
  $unit: unit($number);
  $one: 1;

  @if $unit == "px" { $one: 1px; }
  @if $unit == "rem" { $one: 1rem; }
  @if $unit == "%"  { $one: 1%;  }

  @return $number / $one;
}

/// Returns flexible value using `target ÷ context` formula.
/// Returns `em` by default, accepts `%` as format.
/// @group Helpers
/// @author Eduardo Shiota
/// @link https://github.com/eshiota/eshiota_middleman_blog/blob/master/source/stylesheets/base/_functions.scss
@function flex($target, $context: $base-font-size, $unit: "rem") {
  $size: remove-unit($target) / remove-unit($context);

  @if $unit == "" { @return $size; }
  @if $unit == "rem" { @return #{$size}rem; }
  @if $unit == "%" { @return percentage($size); }
}

/// Alias to `flex` function, using `%` as format.
/// @group Helpers
/// @author Eduardo Shiota
/// @link https://github.com/eshiota/eshiota_middleman_blog/blob/master/source/stylesheets/base/_functions.scss
/// @arg {Number} $target - Width target use
/// @arg {Number} $context - Target block parent
@function perc($target, $context) {
  @return flex($target, $context, "%");
}

/// Alias to `flex` function, using `em` as format.
/// @group Typography
/// @author Eduardo Shiota
/// @link https://github.com/eshiota/eshiota_middleman_blog/blob/master/source/stylesheets/base/_functions.scss
/// @arg {Number} $target - Font size
/// @arg {Number} $context - Use defaut '$base-font-size' 16px
@function em($target, $context: $base-font-size) {
  @return flex($target, $context, "rem");
}