// Mixins

// Reset List
//
// Resets default list styling.
//
// @usage - `@include reset-list`
//
// Styleguide 10.1

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Hovers
//
// Create pseduo-classes for `:hover`, `:active`, and `:focus`.
//
// @usage - `@include hover`
//
// Styleguide 10.3

@mixin hover {
  &:hover,
  &:active,
  &:focus { @content; }
}

// Feature Detection
//
// $feature - Feature-specific class, i.e. `cssgradients`.
// @usage - `@include supported($feature)`
// @usage - `@include not-supported($feature)`

@mixin supported($feature) {
  .#{$feature} & {
    @content;
  }
}

@mixin not-supported($feature) {
  .no-js &,
  .no-#{$feature} & {
    @content;
  }
}

// Media Queries
//
// Allows you to use inline media queries. Includes options for `$fix-mqs`.
//
// $breakpoint - Desired breakpoint. Can be variable or unit.
// $query - Defaults to `min-width`.
// $type - Defaults to `screen`.

@mixin mq($breakpoint, $query: 'min-width', $type: 'screen') {
  @if $fix-mqs {
    @if $fix-mqs >= $breakpoint { @content; }
  } @else {
    @media #{$type} and (#{$query}: #{$breakpoint}) { @content; }
  }
}

// Clearfix
//
// Nicolas Gallagher's micro clearfix hack
//
// @source - http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after { clear: both; }
}

// Hide Text
//
// @usage - `@include hide-text`

@mixin hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

// Hidden
//
// Hide from both screenreaders and browsers
//
// @usage - `@include hidden`

@mixin hidden {
  display: none !important;
  visibility: hidden;
}

// Visually Hidden
//
// Hide only visually, but have it available for screenreaders
//
// @usage - `@include visuallyhidden`

@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  // Extends the .visuallyhidden class to allow the element to be focusable
  // when navigated to via the keyboard: h5bp.com/p

  &.focusable {
    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

// Invisible
//
// Hide visually and from screenreaders, but maintain layout
//
// @usage - `@include invisible`

@mixin invisible { visibility: hidden; }





// use css vars
// https://codepen.io/vank0/pen/kkGvAb
//the mixin temporally sets the $css4 variable to false, compiles the css3 fallback, then makes the variable true again and compiles the css4 code. It should contain properties that use css4 variables, otherwise there will be unnessesary duplication of properties.
@mixin css4 {
  @if ($css4) {
    $css4-backup: $css4;
    @if($compatibility) {
      $css4: false !global;
      @content;
    }
    $css4: true !global;
    @content;
    $css4: $css4-backup;
  }
  @else {
    @content;
  }
}


// Color Scheme 0.0.2
// Scheme from colors for create classes with properties css, functions for facilitie use in the project like palette, tint, shade, etc
// From DEV Undergrond
// @authors: Jonas Sousa, Allef Silva

/// make-classes-map - Create utilities classes from the maps variables
/// @author Jonas Sousa, Allef Silva
/// @group Tools
/// @param {Map} $map - Variable with maps for be transformed in classes
/// @param {String} $prefix - Namespace for the organize names
/// @param {String} $name - Radical word from name
/// @param {String} $prop - properties names from classes
/// @example scss - basic usage
///   @include make-classes-map($cls-default, $prefix-utilities, $radical-classes-color, $propertie-color);
///
/// @output Output from the example
///   .u-color--text { color: #121212; }
///   .u-color--bgc { color: white; }
@mixin make-classes-map($map, $prefix, $name, $prop){
  @each $sufix, $value in $map {
    .#{$prefix}#{$name}--#{$sufix} {
      #{$prop}: use-map($map, $sufix);
    }
  }
}

/// Size - Set propertys width and height
/// @author Hugo Giraudel
/// @group Tools
/// @param {Number} $width - Property width css
/// @param {Number} $height [$width] - Default value width, but it's possible use diferent height
/// @example scss - basic usage
///   .square {
///     @include size(50px);
///   }
/// @output Output from the example
///   .square {
///     width: 50px;
///     height: 50px;
///   }

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

/// Arrow - Create a arrow in the direction your preference.
/// Direction must be one of top, right, bottom or left.
/// @author CSS-Tricks
/// @link https://css-tricks.com/snippets/sass/css-triangle-mixin/
/// @group Tools
/// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
/// @param {Color} $color [currentcolor] - Triangle color
/// @param {Length} $size [1em] - Triangle size
/// @example scss - basic usage
///   .foo::before {
///     @include triangle(bottom);
///     display: inline-block; // d:ib || pos:a - use one property for your propouse
///   }
/// @output Output from the example
///   .foo::before {
///     width: 0;
///     height: 0;
///     content: '';
///     z-index: 2;
///     border-top: 1.5em solid currentcolor;
///     border-left: 1em solid transparent;
///     border-right: 1em solid transparent;
///     display: inline-block;
///   }

@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either `top`, `right`, `bottom` or `left`.";
  }

  content: '';
  width: 0;
  height: 0;
  z-index: 2; // if you use pos:a

//  border-#{opposite-position($direction)}: ($size * 1.5) solid $color;
  border-#{$direction}: ($size * 1.5) solid $color;

  $perpendicular-borders: $size solid transparent;

  @if $direction == top or $direction == bottom {
    border-left:   $perpendicular-borders;
    border-right:  $perpendicular-borders;
  } @else if $direction == right or $direction == left {
    border-bottom: $perpendicular-borders;
    border-top:    $perpendicular-borders;
  }
}

/// Centerer - Position elements centered in directions especific or all
/// @author CSS-Tricks
/// @link https://css-tricks.com/snippets/sass/centering-mixin/ In the comments have a optimization this mixin
/// @group Tools
/// @param {String} $pos [both] - Default functions is centered in all directions, but is possible choice side
/// @example scss - basic usage
///   .centered {
///     @include centerer();
///   }
/// @output Output from the example
///   .centered {
///     position: absolute;
///     top: 50%;
///     left: 50%;
///     transform: translate(-50%, -50%);
///   }

@mixin centerer($pos:both) {
  position: absolute;

  @if ($pos==both) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  } @else if ($pos==top) {
    left: 50%;
    transform: translate(-50%, 0);

  } @else if ($pos==left) {
    top: 50%;
    transform: translate(0, -50%);

  } @else if ($pos==right) {
    top: 50%;
    right:0;
    transform: translate(0, -50%);

  } @else if ($pos==bottom) {
    bottom: 0;
    left:50%;
    transform: translate(-50%, 0);
  }
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Truncate text
// If the text is longer than one line, it will be truncated and end with an ellipsis(...).
@mixin truncate-text( $tru-w ) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $tru-w;
}

@mixin flexbox-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin no-link {
  cursor: not-allowed;
  pointer-events: none; // Future-proof disabling of clicks
}

@mixin mobile-scroll-horizontal {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

@mixin clear-list {
  list-style: none;
  padding: 0;
}

//
// mixins for container
@mixin wrapper {
  width: 100%;
  max-width: 1280px;
  padding-right: 0.5rem;
  padding-left:  0.5rem;
  margin-right: auto;
  margin-left:  auto;

  // @include media('screen', '>small') {
  //   padding-right: 1rem;
  //   padding-left:  1rem;
  // }

  // @include media('screen', '>large') {
  //   padding: 0;
  // }
}

@mixin horizontal {
  display: flex;
  align-items: center;
}

@mixin list-horizontal {
  @include horizontal;
  flex-wrap: wrap;
}