// Variables
// Set variables for this site before a library sets its !default value.

// helpers
// =============
$i:        !important;
$t:        transparent;
$n:        none;
$in:       initial;
$ih:       inherit;
$cc:       currentColor;
$imgPath:  '../images';

$prefix-is:  'is-';
$prefix-has: 'has-';

$border-radius-default: em(3px);
$border-radius-circle: 50%;

$duration-instantly:    0s;
$duration-immediately:  0.05s;
$duration-quickly:      0.1s;
$duration-promptly:     0.2s;
$duration-slowly:       0.4s;
$duration-paused:       3.2s;

$pad:   1rem;
$space: $pad;

$vars-project: (
  // colors
  // d = default
  --cl-clean:        #fff,
  --cl-dark:         #000,
  --cl-text:         #7d7a77,
  --cl-text-dark:    #5B5855,
  // n = neutral
  --cl-grey-10:      #f9f9fa,
  --cl-grey-20:      #eeeef1,
  --cl-grey-30:      #d7d7db,
  --cl-grey-40:      #b2b2b3,
  --cl-grey-50:      #737373,
  --cl-grey-60:      #4a4a4f,
  --cl-grey-70:      #38383d,
  --cl-grey-80:      #29292e,
  --cl-grey-90:      #0c0c0d,
  // s = semantic
  --cl-sucess:       #13bd00,
  --cl-info:         #0a85ff,
  --cl-warning:      #d66f00,
  --cl-error:        #d60020,
  // m = main
  --cl-primary:      #f77274,
  --cl-secondary:    #4f2d32,
  // p = palettes
  --cl-primary-dark: #e85657,
  --cl-secondary-clean: #f4f2f0,
  // font-sizes
  --fz-uul:    4.5rem,   // 72px
  --fz-ul:     4rem,     // 64px
  --fz-hhhl:   3rem,     // 48px
  --fz-hhl:    2.75rem,  // 44px
  --fz-hl:     2.25rem,  // 36px
  --fz-xxl:    2rem,     // 32px
  --fz-xl:     1.75rem,  // 28px
  --fz-l:      1.5rem,   // 24px
  --fz-xxm:    1.25rem,  // 20px
  --fz-xm:     1.125rem, // 18px
  --fz-m:      $base-font-size,
  --fz-s:      0.875rem, // 14px
  --fz-xs:     0.75rem,  // 12px
  --fz-xxs:    0.625rem, // 10px
  // spaces
  --sp-quarter:  $space/4, // 4px
  --sp-six:      0.375rem, // 6px
  --sp-half:     $space/2, // 8px
  --sp-twelve:   0.75rem,  // 12px
  --sp-unit:     $space,   // 16px
  --sp-and-half: 1.5rem,   // 24px
  --sp-double:   $space*2, // 32px
  --sp-fourty:   2.5rem,   // 40px
  --sp-triple:   $space*3, // 48px
  --sp-quad:     $space*4, // 64px
  --sp-eighty:   5rem,     // 80px
);

// use css vars
// https://codepen.io/vank0/pen/kkGvAb
// use mixin and functions .scss
$css4: true;
$compatibility: true;